/* Only Arial (for now? change? add more?)*/

body { font-family: Arial}
h1, h2, h3 {
  font-family: 'Arial';
  font-weight: normal;
}

/* AFont and color for code highlighting */
.remark-code, .remark-inline-code { font-family: 'Inconsolata', monospace; }
.remark-code-line-highlighted     { background-color: #ffff88; }
