/* CSS for WIC xaringan slides */

/*~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Content slide settings */
/*~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Add padding to all slides for 16:9 aspect ratio and WIC head in left corner */
.remark-slide-content {
  padding-left: 90px;  /* delete this for 4:3 aspect ratio */
  background-image: url(https://github.com/olayabucaro/WICslides/raw/master/libs/figures/WIChead.png);
  background-position: 2% 98%;
  background-size: 40px;
  font-size: 16px; /* Base font size, default in most browsers */
}

/* Header font settings */
.remark-slide-content h1 {
  color: #2C95D2; /* WIC blue */
  font-weight: bold;
  font-size: 3.3em;
}

.remark-slide-content h2 {
  color: #2C95D2; /* WIC blue */
  font-size: 2.3em;
}

.remark-slide-content h3 {
  color: #2C95D2; /* WIC blue */
  font-size: 1.6em;
}

/* Body font settings */
p {
  color: black;
  font-size: 1.5em;
}

/* Link color */
a {
  color: #2C95D2; /* WIC blue */
}

/*~~~~~~~~~~~~~~~~~~~~~~*/
/* Title slide settings */
/*~~~~~~~~~~~~~~~~~~~~~~*/

/* Title slide logo and background color */
.title-slide {
  background-image: url(https://github.com/olayabucaro/WICslides/raw/master/libs/figures/WIClogo.png);
  background-position: 4% 6%;
  background-size: 300px;
  background-color: #2C95D2; /* WIC blue */
  padding-left: 3%; /* Placement of title text, delete this for 4:3 aspect ratio */
}

/* Title font settings */
.title-slide h1 {
  color: white;
  font-size: 3.3em;
  text-align: left;
  font-weight: bold;
  margin-top: 2em; /* Distance between logo and title */
  margin-bottom: 1em; /* Title font settings */
}

/* Subtitle and author font settings */
.title-slide h2 {
  color: white;
  font-size: 1.6em;
  text-align: left;
  margin-top: 1em; /* Title font settings */
  margin-bottom: 3em;/* Title font settings */
}

/* Date font settings */
.title-slide h3 {
  font-size: 1em;
  color: white;
  text-align: left;
  margin: 0px; /* Marign around each line */
  line-height: 1; /* Line spacing  */
}

/* Hide slide count from title slide */
.title-slide .remark-slide-number {
  text-shadow: none;
  color: #2C95D2;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*   Final slide settings   */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.title-slide-final {
  background-color: #2C95D2; /* WIC blue */
  padding-left: 100px;
  text-shadow: None;
  text-align: center;
  background-image: url(); /* Empty to remove WIC from final slide*/
}

.title-slide-final h1 {
  color: white;
  text-align: center;
  font-size: 2.3em;
  padding-top: 250px;
}

/*~~~~~~~~~~~*/
/* Additions */
/*~~~~~~~~~~~*/

/* Inline code highlighting */
.remark-inline-code{
  background: #F5F5F5;
  border-radius: 3px;
  padding: 4px;
}

/* Important code slightly red */
.remark-code-line-highlighted {
  background-color: #FFD3DE !important;
}

/* Footnote settings */
.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 4em;
  font-size: 95%;
}

.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 70%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 45%;
}

.pull-right {
  float: right;
  width: 45%;
}

.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

/* adjust table horizontal spacing */
th, td {
    padding:0 15px 0 15px;
}

/* remove color from tables */
table {
  margin: auto;
  border-top: none;
  border-bottom: none;
}

table thead th { border-bottom: none; }
thead, tfoot, tr:nth-child(even) { background: none; }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
