/* CSS for WIC xaringan slides */

/*~~~~~~~~~~~~~~*/
/* Slide settings */
/*~~~~~~~~~~~~~~*/

/* Add padding to all slides for 16:9 aspect ratio */
.remark-slide-content {
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
  background-image: url(https://github.com/gommora/WICslides/raw/master/libs/figures/WIChead.png);
  background-position: 2% 98%;
  background-size: 40px;
}

/*~~~~~~~~~~~~~~*/
/* Title slide  */
/*~~~~~~~~~~~~~~*/

/* Add title slide images and change background color */
.title-slide {
  background-image: url(https://github.com/gommora/WICslides/raw/master/libs/figures/WIClogo.png)
 /* , url(https://github.com/gommora/WICslides/raw/master/libs/figures/logoiiasa.png) */
 /* ,url(https://github.com/gommora/WICslides/raw/master/libs/figures/logo-owa.png)*/ ; 
  background-position: 4% 5%;
  background-size: 300px;
  background-color: #2C95D2;
  padding-left: 40px;  /* delete this for 4:3 aspect ratio */
}

/* H1 (title) fonts */
.title-slide h1 {
  color: #fff;
  padding-top: 100px;
  font-size: 40px;
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
  font-weight: bold;
}

/* H2 (subtitle) fonts */
.title-slide h2 {
  color: #fff;
  font-size: 28px;
  text-align: left;
  text-shadow: none;
  padding-top: 10px;
  padding-bottom: 18px;
  margin-bottom: 80px;
}

/* H3 (other title text) fonts */
.title-slide h3 {
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  text-align: left;
  text-shadow: none;
  margin: 0px;
  line-height: 1;
}

/* Remove slide count */
.title-slide .remark-slide-number {
  text-shadow: none;
  color: #2C95D2;
}

/*~~~~~~~~~~~~~~~~~~~~*/
/* Global adjustments */
/*~~~~~~~~~~~~~~~~~~~~*/

/* Color adjustments to headers */
h1 {
  color: #2C95D2; /* WIC Blue */
  font-weight: bold;
}

h2 {
  color: #2C95D2; /* WIC Blue */
}

h3 {
  color: #2C95D2; /* WIC Blue */
}

/*~~~~~~~~~~~~~~*/
/* Additions */
/*~~~~~~~~~~~~~~*/

/* Inline code highlighting */
.remark-inline-code{
  background: #F5F5F5;
  border-radius: 3px;
  padding: 4px;
}

/* Important code slightly red */
.remark-code-line-highlighted {
  background-color: #FFD3DE !important;
}

/* Footnote class */
.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 4em;
  font-size: 95%;
}


/* Two-column layout (slightly wider for aspect ration) */
.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

/* slightly thiner to suppor aspect ration */
.right-column {
  width: 70%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 45%;
}

.pull-right {
  float: right;
  width: 45%;
}

.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

/* adjust table horizontal spacing */
th, td {
    padding:0 15px 0 15px;
}

/* remove color from tables */
table {
  margin: auto;
  border-top: none;
  border-bottom: none;
}

table thead th { border-bottom: none; }
thead, tfoot, tr:nth-child(even) { background: none; }

/* leave this alone */
@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*~~~~~~~~~~~~~~~~~~*/
/*   FINAL SLIDE    */
/*~~~~~~~~~~~~~~~~~~*/

.title-slide-final {
  background-color: #2C95D2;
  color: #fff;
  padding-left: 100px;
  text-shadow: None;
  text-align: center;
}

.title-slide-final h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 45px;
  padding-top: 250px;
}
